body {
  background-color: #2d2d44;
  text-align: center;
  color: #ffffff;
}

.photo {
  height: 20px;
  border-radius: 300px;
}

.computer {
  background-color: red;
  height: 200px;
  border-radius: 20px;
}

.player {
  margin-top: 20px;
  background-color: blue;
  border-radius: 20px;
}

.photoBtn {
  background-color: white;
}

.computer-choice,
.you-choice {
  height: 200px;
  width: 200px;
}

.computer {
  height: 250px;
}

.player {
  height: 390px;
}
.computer,
.player {
  margin: 0px;
  padding: 10px;
}

.restart-btn,
.title {
  display: inline;
}

.restart-btn {
  padding: 6px;
  font-weight: bolder;
  border-radius: 20px;
  font-size: larger;
  margin-left: 20px;
}

img,
.photoBtn {
  height: 100px;
  border-radius: 400px;
}

h2 {
  display: inline;
  margin-right: 6%;
}

.choices {
  margin-top: 10px;
}
